__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/

build/
dist/
wandb/
logs/
outputs/
videos/
outputs_*/

checkpoints/
wan_models/
*.pt
*.pth
*.ckpt
*.safetensors

*.lmdb
*.mdb
prompts/vidprom_filtered_extended.txt
